body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
    border: 1px solid #ddd;
    height: 48px;
    text-align: center;
    width: 48px;
}
table {
    border-collapse: collapse;
}
tr {
 font-size:10px;   
}

.player {
    background-color:blue;
}

.badguy {
    background-color:red;
    background-size:50px;
}

.wall {
    background-color:black;
}

.badguy.mer {
    background-image:url(img/mer.gif);
}

.badguy.tsi {
    background-image:url(img/tsi.gif);
    
}

.badguy.tlo {
    background-image:url(img/tlo.gif);
    
}

th {
    border: 1px solid #ddd;
}

#game {
    /*display:none;*/
}

.scoreboard {
    position:absolute;
    background-color:grey;
    border-radius:5px;
    top:50px;
    left:550px;
    padding:10px;
}