td {
    border: 1px solid black;
    height: 32px;
    text-align: center;
    width: 32px;
}
table {
    border-collapse: collapse;
}
tr {
    
}

.player {
    background-color:blue;
}

.badguy {
    background-color:red;
}

.wall {
    background-color:black;
}

.badguy.mer {
    background-color:aqua;
}

th {
    border: 1px solid black;
}

#game {
    display:none;
}
